{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
«IT Синема» — 23 современных кинотеатра, более 150 комфортабельных кинозалов, оснащенных по последнему слову техники, и более 19.000 посадочных мест!
Уникальное кинопроекционное и звуковое оборудование,  просторные залы, возможность просмотра фильмов в формате 3D,
а также собственная кухня с полюбившимся зрителям итальянским и японским меню. В попкорн барах кинотеатра можно попробовать более 10 видов попкорна,
включая такие экзотические, как клубничный, яблочный, банановый и даже с беконом, и с белыми грибами. В залах категории VIP вас ждут вместо обычных
кресел комфортабельные диваны для одного, двоих и троих гостей и столики, оснащенные кнопками вызова официанта, который принесет вам любое блюдо из меню прямо в зал. 
<br/>
ТОП-10 ключевых особенностей киносети «IT Синема»:<br/>
1. Высококачественное звуковое и кинопроекционное оборудование<br/>
2. Гибкая ценовая политика<br/>
3. Оригинальные архитектурные и дизайнерские идеи<br/>
4. Комфортабельные условия кинопросмотра<br/>
5. Собственные консешн-зоны, пиццерии и суши-бары<br/>
6. Оправдавшая себя стратегия развития киносети<br/>
7. Уникальные взаимодействия с компаниями-кинопрокатчиками<br/>
8. Высоко квалифицированный персонал<br/>
9. Активная социальная деятельность<br/>
10. VIP направление</p>

{% endblock %}
