{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<address>
<strong>8 (800) 505-17-85</strong>
<strong>Единый номер</strong>
</address>

<address>
    <strong>по вопросам сотрудничества и размещения рекламы в сети кинотеатров: </strong><a href="https://vk.com/ne_pridumala_poka">Кириллов Артем</a><br />
    <strong>предложения по открытию кинотеатров для всех городов направлять по адресу: </strong><a href="https://vk.com/ne_pridumala_poka">Кириллов Артем</a><br />
    <strong>по вопросам обслуживания в кинотеатре: </strong><a href="https://vk.com/ne_pridumala_poka">Кириллов Артем</a><br />
</address>

{% endblock %}
